.wrapper {    
	position: relative;
  height: 350px;
  background-size: cover;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,1.5);
  font-family: 'Lobster', cursive;
}	
#fashion{
  font-family: Nexa Rust, 'script-1-0', cursive;
  color: white;
  font-size: 34px;
  padding-top: 85px;
  text-shadow: 1px 1px 3px black, 0 0 3em black;
}
		
#shop{
	font-family: 'Cabin', sans-serif;
	font-size: 40px;
	color: #eee;
	padding-top: 20px;
	text-shadow: 1px 1px 3px black, 0 0 3em black;
}
#just{
	font-family: 'Cabin', sans-serif;
	font-size: 18px;
	color: #ddd;
	text-shadow: 1px 1px 3px black, 0 0 3em #333;
}

.container{
	text-align: center;
	margin-top: 140px; 
	max-width: 100%;
	height: auto;	
}

.maintext{
	text-align: center;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 24px;
	color: #999;
	margin-top: 50px;
	margin-bottom: 40px;
}

.img{
	padding: 0px 10px;
	max-width: 100%;
	height: auto;
}
/* .img1:hover{
	margin: -3px;
	width: 230px;
	box-shadow:  8px 5px 30px rgba(0,0,0,0.9);
	border: none;
	margin-bottom: -5px;
  transition: 0.2s;
}
.img2:hover{
	margin-left: -5px;
	width: 230px;
	box-shadow:  8px 5px 30px rgba(0,0,0,0.9);
	border: none;
	margin-bottom: -5px;
  transition: 0.2s;
}
.img3:hover{
	margin-left: -5px;
	width: 230px;
	box-shadow:  8px 5px 30px rgba(0,0,0,0.9);
	border: none;
	margin-bottom: -5px;
  transition: 0.2s;
}
.img4:hover{
	margin-left: -5px;
	width: 230px;
	box-shadow:  8px 5px 30px rgba(0,0,0,0.9);
	border: none;
	margin-bottom: -5px;
  transition: 0.2s;
} */
.footer1{
	margin-top: 50px; 
  height: 95px;
	background-color: #ff6d00;
	text-align: center;
	padding-top: 25px;
	font-size: 16px;
}
#text1{
	font-family: 'Hammersmith One', sans-serif;
}

#text2{
  font-family: 'Hammersmith One', sans-serif;
  vertical-align: middle;
	color: #ddd;
}

.items{
 	font-size: 40px;
 	color: #ddd;
  font-stretch: inherit;
 	margin-left: 5px;
 	vertical-align: middle;

 }

.items:hover{
	color:  #616161;   
	transition: all 0.3s ease ;
}

.footer2{
	height: 95px;
	background-color: #211F20;
}

.nav li{
	display: inline;
	color: #686767;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 14px; 
	padding: 10px;
}

.nav a{
	color: #777;
}

.nav a:hover{
	color: #999;
	text-decoration: none;
}
.nav{
  padding-top: 40px;
	margin-left: 10%; 
}

.icons li{
	display: inline;
}

.icons{
	float: right;
	padding-top: 25px;
}

.transition {
  transition: 0.3s;
}

.icon:hover{
	background-color: #292929;
	transition: 0.3s;
}

@media(max-width: 992px){

.nav{
  padding-top: 35px;
	margin-left: 10%; 
}
.nav li{ 
	padding: 6px;
}

.icons{
padding-top: 25px;
}

.nav a:hover{
	color: #777;
	text-decoration: none;
}

}
@media(max-width: 767px){
	.img{
	width: 215px;
	padding: 15px 10px;
	margin-bottom: -10px;
}
.items:hover{
	color: #ddd;
}
.footer2{
	height: 130px;
	text-align: center;
	}
.nav{
  padding-top: 20px;
	margin-right: 40px;	 
}
.icons{
	padding-left: 3%;
	padding-top: 10px;
	float: none;
}
.icon:hover{
	background-color: #211F20;
}
}
@media(max-width: 480px){

.nav{
  padding-top: 20px;
	margin-left: 16%; 
}
.nav li{
	display: block; 
	padding: 4px;
}
.icons{
	padding-top: 10px;
}
.footer2{
	height: 220px;
}
.btn{
	background-color: red;
}
}




