
.wrapper {    
		position: relative;
     	height: 350px;
    	background-size: cover;
    	text-align: center;
    	box-shadow: 0 0 10px rgba(0,0,0,1.5);
    	font-family: 'Lobster', cursive;
		}	
	   

   #fashion{
   	font-family: Nexa Rust, 'script-1-0', cursive;
   	color: white;
   	font-size: 34px;
   	padding-top: 85px;
   	text-shadow: 1px 1px 3px black, 0 0 3em black;
		}
		
		#shop{
			font-family: 'Cabin', sans-serif;
			font-size: 40px;
			color: #eee;
			padding-top: 20px;
			text-shadow: 1px 1px 3px black, 0 0 3em black;

		}
		#just{
			font-family: 'Cabin', sans-serif;
			font-size: 18px;
			color: #ddd;
			text-shadow: 1px 1px 3px black, 0 0 3em #333;
		}

.container{
	text-align: center;
	margin-top: 140px; 	
}
.maintext{
	text-align: center;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 24px;
	color: #999;
	margin-top: 50px;
	margin-bottom: 40px;
}
.bottom{
	margin-top: -10px; 
}

.row{
	margin-top: -15px;
}
.img{
	padding: 7px;
	max-width: 100%;
	height: auto;
}
.img1:hover{
	margin: -3px;
	width: 230px;
	box-shadow:  8px 5px 30px rgba(0,0,0,0.9);
	border: none;
	margin-bottom: -5px;
  transition: 0.2s;
}
.img2:hover{
	margin-left: -5px;
	width: 230px;
	box-shadow:  8px 5px 30px rgba(0,0,0,0.9);
	border: none;
	margin-bottom: -5px;
  transition: 0.2s;
}
.img3:hover{
	margin-left: -5px;
	width: 230px;
	box-shadow:  8px 5px 30px rgba(0,0,0,0.9);
	border: none;
	margin-bottom: -5px;
  transition: 0.2s;
}
.img4:hover{
	margin-left: -5px;
	width: 230px;
	box-shadow:  8px 5px 30px rgba(0,0,0,0.9);
	border: none;
	margin-bottom: -5px;
  transition: 0.2s;
}

.footer1{
	margin-top: 50px; 
  height: 95px;
	background-color: #ff6d00;
	text-align: center;
	padding-top: 25px;
	font-size: 16px;
}
#text1{
	font-family: 'Hammersmith One', sans-serif;

}

#text2{
  font-family: 'Hammersmith One', sans-serif;
	color: #ddd;
}

.strelka{
 	border-radius: 50px;
 	margin-left: 10px;
 }

.strelka:hover{
	background-color:  #FF5900;   
	transition: 0.3s;
}

.footer2{
	
	height: 95px;
	background-color: #211F20;

	
}
.nav li{
	display: inline;
	padding-left: 20px;
	color: #686767;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 14px; 

}
.nav a{
	color: #777;
}
.nav a:hover{
	color: #999;
	text-decoration: none;
}
.nav{
	padding-top: 40px;
	margin-left: 150px;
}
.icons li{
	display: inline;
	margin-left: 10px;

}


.icons{
	padding-left: 100px;
	margin-top: -70px;
	margin-left: 750px;
}
.transition {
  transition: 0.3s;
}


.icon:hover{
	background-color: #292929;
	transition: 0.3s;

}

@media(max-width: 1347px){
	.img{
		width: 20%;

	}
}
@media(max-width: 1062px){
	.icons{
		margin-top:  -90px;
	}
}




